html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: 'Mulish', sans-serif;
}

* {
  box-sizing: border-box;
}
